.sidenav-container {
    margin: 0 auto;
    box-sizing: border-box;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

.logout {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.menu {
    list-style-type: none;
    flex-grow: 1;
    padding: 0;
}

.menu li {
    padding: 1.8rem 0;
    font-size: 1.05rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    opacity: 0.9;
    transition: 0.2s;
}

.menu li:hover,
.menu li.active {
  opacity: 1;
  font-weight: 600;
}