<div class="dashboard-container">
    <!-- Sidenav Left panel -->
     <app-sidenav></app-sidenav>

     <!-- Main content -->
      <div class="main-content">
        <!-- header -->
         <app-header></app-header>

         <div class="content-section">
            <!-- left side chart displaying expenses -->
             <app-expense-chart></app-expense-chart>

             <!-- right side expense table displayed -->
              <app-expense-table></app-expense-table>
         </div>
      </div>
</div>