.dashboard-container {
    display: flex;
    height: 100vh;
}

app-sidenav {
    width: 300px;
    background-color: #20a8d8;
}

.main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
}